---
layout: default
---

		<article class="full-post">
			<h1 class="full-title">{{ page.title }}</h1>
			{{ content }}
			<div class="social">
				<div class="addthis_toolbox addthis_default_style">
					<a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
					<a class="addthis_button_tweet"></a>
					<a class="addthis_button_google_plusone" g:plusone:size="medium"></a>
				</div>
			</div>
		</article>
			
		<script src="//s7.addthis.com/js/250/addthis_widget.js"></script>